body{
    background: url("ss.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 150%;
}
a{
    color: white;
}
h1{
    color: white;
}
